{{#bs-modal body=false footer=false header=false closedAction=(action 'exit')}}
 {{#bs-modal-header}}
   <h4 class="modal-title">STORY-1 Build a house</h4>
 {{/bs-modal-header}}
 {{#bs-modal-body}}Do my bidding{{/bs-modal-body}}
 {{#bs-modal-footer as |footer|}}
   {{#bs-button action=(action "close" target=footer) type="primary"}}Close{{/bs-button}}
 {{/bs-modal-footer}}
{{/bs-modal}}
